---

---

<section class="">
  <div
    class="container flex flex-col justify-center p-6 mx-auto sm:py-12 lg:py-24 lg:flex-row lg:justify-between"
  >
    <div
      class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-xl lg:text-left"
    >
      <h1 class="text-5xl font-bold leadi text-left sm:text-6xl">
        ¿La Computación Cuántica es Tan Buena para Invertir?
      </h1>
      <p class="mt-6 mb-8 text-lg sm:mb-12">
        Esta es la primera máquina de computación cuántica del mundo. A
        diferencia de tu PC, esta computadora toma miles de decisiones
        simultáneamente. Imagina tener miles de pensamientos a la vez, cada uno
        tan claro como el otro. Eso es computación cuántica. Trabaja
        directamente con tu administrador de cuenta personal y comienza a ganar
        dinero de inmediato. Es muy importante que ingreses tu número de
        teléfono correcto para que tu administrador pueda contactarte y ayudarte
        a ganar.
      </p>
      <div
        class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start"
      >
        <a
          rel="noopener noreferrer"
          href="#"
          class="px-8 py-3 text-lg font-semibold rounded bg-red-500 text-white"
          >Comenzar Ahora</a
        >
      </div>
    </div>
    <div class="flex items-center justify-center rounded-xl  p-6 mt-8">
      <img
        src="https://plus.unsplash.com/premium_photo-1689801528531-bd046cf027ea?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt=""
        class=""
      />
    </div>
  </div>
</section>
